*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
    
    body{
    
    font-family:Poppins,sans-serif;
    
    background:#000;
    
    }
    
    .hero{
    
    height:100vh;
    
    display:flex;
    
    justify-content:center;
    
    align-items:center;
    
    background:url("assets/hero.jpg") center/cover no-repeat;
    
    position:relative;
    
    overflow:hidden;
    
    }
    
    .overlay{
    
    position:absolute;
    
    inset:0;
    
    background:rgba(0,0,0,.45);
    
    backdrop-filter:blur(2px);
    
    }
    
    .card{
    
    position:relative;
    
    z-index:2;
    
    width:420px;
    
    max-width:90%;
    
    padding:45px;
    
    text-align:center;
    
    border-radius:24px;
    
    background:rgba(255,255,255,.15);
    
    backdrop-filter:blur(18px);
    
    border:1px solid rgba(255,255,255,.25);
    
    box-shadow:0 20px 40px rgba(0,0,0,.35);
    
    opacity:0;
    
    transform:translateY(40px);
    
    transition:1s;
    
    }
    
    .card.show{
    
    opacity:1;
    
    transform:translateY(0);
    
    }
    
    .logo{
    
    width:90px;
    
    margin-bottom:20px;
    
    }
    
    h1{
    
    font-family:"Playfair Display";
    
    font-size:40px;
    
    color:#fff;
    
    margin-bottom:10px;
    
    }
    
    p{
    
    color:#eee;
    
    line-height:1.8;
    
    margin-bottom:35px;
    
    }
    
    .btn{
    
    display:block;
    
    margin:12px 0;
    
    padding:15px;
    
    border-radius:50px;
    
    background:#82A88F;
    
    color:#fff;
    
    font-weight:600;
    
    text-decoration:none;
    
    transition:.3s;
    
    }
    
    .btn:hover{
    
    transform:translateY(-3px);
    
    box-shadow:0 12px 25px rgba(130,168,143,.45);
    
    }
    
    .dark{
    
    background:#3D2510;
    
    }
    
    .dark:hover{
    
    box-shadow:0 12px 25px rgba(61,37,16,.45);
    
    }
    
    .contact{
    
    margin-top:30px;
    
    color:#fff;
    
    font-size:14px;
    
    }
    
    .contact a{
    
    display:block;
    
    margin-top:10px;
    
    color:white;
    
    text-decoration:none;
    
    font-weight:600;
    
    }
    
    @media(max-width:600px){
    
    .card{
    
    padding:30px;
    
    }
    
    h1{
    
    font-size:32px;
    
    }
    
    }